<div class="container-fluid-main w-100">

    <footer class="text-center text-lg-start text-white" style="background-color: #3e4551">

        <div class="container p-4 pb-0">

            <section class="">

                <div class="row">

                    <div class="col-lg-4 col-md-5 mb-4 mb-md-0 ">
                        <div class="logo-container">
                            <div class="logo-bg">
                                <i class="bi bi-airplane logo-icon"></i>
                            </div>
                            <div class="logo-text">
                                <span>AirNStay</span>
                            </div>
                        </div>

                        <p>
                            Your trusted partner for seamless travel experiences. Book hotels, flights, and packages
                            with confidence and explore the world like never before.
                        </p>
                        <div class="location-details">
                            <ul class="p-0" style=" list-style-type: none;">
                                <li class="mb-3">
                                    <span class=""><i class="bi bi-geo-alt-fill"></i></span><span class="ms-2">Warsaw,
                                        00-967,
                                        Poland</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fa-li"><i class="bi bi-envelope"></i></span><span
                                        class="ms-2">contact@example.com</span>
                                </li>
                                <li class="mb-3">
                                    <span class="fa-li"><i class="bi bi-telephone-fill"></i></span><span class="ms-2">+
                                        48 234
                                        567
                                        88</span>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-5 mb-4 mb-md-0">
                        <h5 class="">Company</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">About Us</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Careers</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Press</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Blog</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-5 mb-4 mb-md-0">
                        <h5 class="">Services</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Hotel Booking</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Flight Booking</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Travel Packages</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-5 mb-4 mb-md-0">
                        <h5 class="">Support</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Help Center</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Customer Support</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Booking Policy</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Cancellation</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Refunds</a>
                            </li>
                        </ul>
                    </div>


                </div>

            </section>


            <hr class="mb-4" />


            <section class="">
                <form action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                                <h4 class="pt-2"><strong>Stay Updated with Travel Deals</strong></h4>
                            
                            <p class="pt-2">Get exclusive offers, destination guides, and travel tips delivered to your inbox.</p>
                        </div>
                        <div class="col-md-5 email-container col-12 mt-4">
                            
                            <div class="form-outline email-box form-white mb-4">
                                <input type="email" id="form5Example2" class="form-control bg-transparent" />
                            </div>
                        </div>
                        <div class="col-auto mt-4 me-1">
                            <button type="submit" class="btn btn-outline-light mb-4">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </form>
            </section>

            <hr class="mb-4" />

            <section class="mb-4 text-center">

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>


                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>


                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>
</div>