.logo-container {
      display: flex;
      align-items: center;
    }

    .logo-bg {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      background: linear-gradient(135deg, #4facfe, #00f2fe);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .logo-icon {
      font-size: 26px;
      color: white;
      transform: rotate(45deg); 
    }

    .logo-text {
      font-size: 26px;
      font-weight: bold;
    }

    .logo-text span {
      background: linear-gradient(90deg, #00c6ff, #0072ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

.email-container{
    
}
.email-box{
    margin-left: 90px;
}