.login-register{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo-container {
      display: flex;
      align-items: center;
    }

    .logo-bg {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      background: linear-gradient(135deg, #4facfe, #00f2fe);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .logo-icon {
      font-size: 26px;
      color: white;
      transform: rotate(45deg); 
    }

    .logo-text {
      font-size: 26px;
      font-weight: bold;
    }

    .logo-text span {
      background: linear-gradient(90deg, #00c6ff, #0072ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
.page-details{
    margin: 20px;
    align-self: center;
    justify-content: center;
}
.page-details h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    color: #344256;
    font-weight: 700;
}
.page-details p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(#344256, 0.6);
    font-size: 20px;
    font-weight: 500;
}
.page-details li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(#344256, 0.6);
    
    font-weight: 500;
}
.Sign-In, .Sign-Up{
    width: 35%;
    margin: 20px;
    align-self: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.Sign-In form{
    width: 100%;
    align-self: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Sign-Up form{
    width: 100%;
    align-self: center;
    justify-content: center;
    padding: 20px;
    
    
}
.btn-group{
    background-color: aliceblue;
    /* background-color: white; */
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    height: 35px;
}
.btn-Sign-In, .btn-Sign-Up{
    background-color:transparent;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 1px;
}
.radio-btn, .radio-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-labels{
    display: flex;
    flex-direction: column;
    
}