.navbar-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.navbar{
  background-color: white;
   
  position: sticky;
  top: 0;
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 191, 255);
}
.nav-link{
    font-weight: 600;
   
}



 .logo-container {
      display: flex;
      align-items: center;
    }

    .logo-bg {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      background: linear-gradient(135deg, #4facfe, #00f2fe);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .logo-icon {
      font-size: 26px;
      color: white;
      transform: rotate(45deg); 
    }

    .logo-text {
      font-size: 26px;
      font-weight: bold;
    }

    .logo-text span {
      background: linear-gradient(90deg, #00c6ff, #0072ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }