.search-hotels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    
}
.destination{
    width: 45%;
    margin: 8px;
}
.check-in, .check-out{
    width: 20%;
    margin: 8px;
}
.serachbtn{
    width: 10%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}
.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.packages-card{
    margin: 15px;
    width: 25rem;
    height: 45rem;
}
.reviews, .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itinerary{
    display: flex;
}

.main-packageHeading{
    background-color: #0d63e5;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-packageHeading p{
    width: 30%;
    text-align: center;
    color: white;
}
.main-packageHeading h1{
    color: white;
}
