.container-form{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 5px;
    width: 1100px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}



.conatiner-BillSummary{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn-Dec, .btn-Inc{
    
    border: none;
    cursor: auto;
    width: 50px;
}
.No-Guest{
    border: none;
    outline: none;
    text-align: center;
    cursor: auto;
    width: 100%;
    height: 35px;
}

 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.bookingDetails, .billSummary{
    background-color: #006bd6;
    color: white;
    border-radius: 10px;
    height: 40px;
    padding: 5px;

    
}
.bookingDetails h4{
    align-items: center;
    justify-content: center;
}








h2 {
  animation: .6s title ease-in-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.circle {
  stroke-dasharray: 1194;
  stroke-dashoffset: 1194;
}

svg .circle {
  animation: circle 1s ease-in-out;
  animation-fill-mode: forwards;
}

.tick {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
}

svg .tick {
  animation: tick .8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: .95s;
}

@keyframes circle {
  from {
    stroke-dashoffset: 1194;
  }
  to {
    stroke-dashoffset: 2388;
  }
}

@keyframes tick{
  from {
    stroke-dashoffset: 350;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
